@import '../../marketplace.css';


.title {
  @apply --marketplaceH1FontStyles;

  margin-top: 0;
  max-width: 735px;

  @media (--viewportMedium) {
    margin-bottom: 23px;
  }
}

.allContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.containerLink {
    text-decoration: none !important ;
}

.rowContainer {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  justify-content: space-between;
  width: 100%;

}

.rowContainer:first-child {
  margin-top: 0;
}

.itemWrapper {}

.carouselWrapper {
  margin-right: 15px;
  margin-bottom: 5px;
  max-width: 337px;
  min-width: 250px;
  width: 100%;
  background-color: #dddddd;
}

.imageWrapper {
  position: relative;
  width: 100%;
  /*transition: var(--transitionStyleButton);
  &:hover {
    transform: scale(1.02);
    box-shadow: var(--boxShadowSectionLocationHover);
  }*/
}
.aspectWrapper {
  padding-bottom: calc(6 / 13 * 100%); /* 13:6 Aspect Ratio */

  @media (--viewportMedium) {
    padding-bottom: calc(2 / 3 * 100%); /* 3:2 Aspect Ratio */
  }
}

.imageContainer {
  background-color: #cccccc;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContainer {
}

.typeInfo { 
  font-size: 16px;
  display: flex;
  align-items: center;
  color: grey;
  margin-bottom: 5px;
  position: relative;
}

.typeName {
  position: relative;
  left: 3px;
  top: 3px;
}

.typeCity {
  position: relative;
  left: 3px;
  top: 3px;

}

.tentIcon {
  @apply --tentIcon;
  width: 17px;
  height: 17px;
  display: inline-block;
  margin-right: 5px;

}

.hutIcon {
  @apply --hutIcon;
  width: 17px;
  height: 17px;
  display: inline-block;
  margin-right: 5px;
}

.titleInfo {
  font-size: 16px;
  color: black;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 0px;
}

.costInfo {
  @apply --marketplaceH6FontStyles;
  color: grey;
}

.reviewInfo {
  @apply --marketplaceH6FontStyles;
  color: grey;

  display: flex;
  align-items: center;
}

.stars {
  display: inline-block;
  color: blue;
  margin-right: 5px;
}

.carousel-control-prev-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: black;
  /*background: no-repeat center center;
  background-size: 100% 100%;
  background-color: black;
  /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
*/
}


.allButton {
  @apply --marketplaceButtonStyles;
  width: 250px;
  height: 65px;
  margin-top: 50px;
}

.messageButton {
  @apply --marketplaceButtonStyles;
  width: 250px;
  height: 65px;
  margin-top: 10px;
}

.tripContainer {
  display: flex;
  flex-direction: row;
  border: solid 1px black;
  height: 350px;
}


.scheduleInfo {
  width: 350px;
  height: 350px;
  border-right: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.scheduleText {

  position: relative;
  top: -5px;
  font-size: 30px;
  max-width: 230px;
  word-wrap: break-word;
  margin: auto;
  text-align: center;
  line-height: 1.1;
  vertical-align: middle;
}

.tripInfo {
  margin: auto;
  display: flex;
  flex-direction: row;
}


.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
}

.tabs {
  margin-top: 4px;
  min-height: 46px;
}


.tabs a:first-child{
  margin-left: auto;
}